<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>Example homepage</title>
    </head>
    <body>
        <div class="banner">
            I am banner! While in hot-dev mode, edit "index.scss" and save, style will refresh automatically.
        </div>

        <div class="centerImage-example"></div>
        <!-- webpack will insert chunks here -->
    </body>
</html>
